<h1>Our MongoDB is Working! Good</h1>
<button mat-raised-button color="primary"
            (click)="getContent_board()">getContent_board</button>
<button mat-raised-button color="primary"
            (click)="getNav_menuSub()">getNav_menuSub</button>
<button mat-raised-button color="primary"
            (click)="getNav_menuTop()">getNav_menuTop</button>
<ul>
  <li *ngFor="let menu of nav_menu">{{ menu.title }}</li>
</ul>
<div class="intro-"><a routerLink="/">intro</a></div>
<router-outlet name='intro'></router-outlet>
