<div class="top-element">

  <h2>개인 도구</h2>
  <div class="header_personallabel">
      <h3>계정 정보</h3>
      <ul [(ngModel)]="is_login" [ngSwitch]="is_login" ngDefaultControl >
      <li class="pl_lg user_info_btn pl_pad" [(ngModel)]="user_id" *ngSwitchCase="'true'" ngDefaultControl>{{user_id}}</li>
      <li class="pl_masterLg user_info_btn pl_pad" *ngSwitchCase="'master'" ngDefaultControl>운영자</li>
      <li class="pl_unLg user_info_btn pl_pad" *ngSwitchDefault>로그인하지 않음</li>
      <!--  아래는 기능 추가 필요      -->
      <!-- <h3>방명록 버튼</h3>
      <li class="pl_guestbook cp btn pl_pad" title="방명록"  ng-model="vm.gbButton" role="button" aria-expanded="vm.guestbookButton" tabindex="0" ng-keypress="vm.gbMenu()" ng-click="vm.gbMenu()">방명록</li>
          <div class="guestbook_menu" role="menu" aria-hidden="!vm.gbButton" *ngIf="vm.gbButton == true">
              <h5>방명록 메뉴</h5>
              <legend style="font-size:1.5em;font-weight:bold;color:black;">방명록</legend>
              <table id="guestbook_table" class="guestbook_table" summary="블로그에 작성한 코멘트(인삿말)을 확인 및 추가할 수 있는 테이블" >
              <colgroup>
                  <col style="width:14%">
                  <col style="width:42%">
                  <col style="width:26%">
                  <col style="width:20%">
              </colgroup>
              <tr>
                  <th><div>닉네임</div></th>
                  <th><div>코멘트</div></th>
                  <th><div>작성일자</div></th>
                  <th><div>삭제</div></th>
              </tr>
              <tr ng-repeat="comment_info in guestbook" *ngIf="!comment_info.isDeleted">
                  <td>{{comment_info.nickname}}</td>
                  <td>{{comment_info.comment}}</td>
                  <td>{{comment_info.date}}</td>
                  <td><div *ngIf="comment_info.canDelete || vm.isLogin == 'master'" style="width:5em;margin:auto;" class="cp btn" role="button" type="submit" ng-click="vm.rowDelete($index)">삭제</div></td> -->
                  <!-- 안씀!! ng-bind-html="comment_info.canDelete|trustAsHtml"-->
              <!-- </tr>
              </table>
              <div class="guestbook_comment" *ngIf="vm.isLogin == 'true' || vm.isLogin == 'master'">
                  <input id="guestbook_comment" class="guestbook_input" title="코멘트 입력" style="width:90%;font-size:1em;" type="text" placeholder="코멘트 입력" name="comment" ng-model="vm.comment" ng-required="false" aria-label="코멘트 입력" aria-describedby="편집창 코멘트 입력" aria-required="false">
                  <div class="guestbook_submit cp btn" title="코멘트 입력 버튼" style="width:10%;display:inline;" label="코멘트 입력 버튼" role="button" aria-disabled="false" type="submit" tabindex="0" ng-model="vm.userNickname" ng-keypress="vm.guestbookInput()" ng-click="vm.guestbookInput()">입력</div>
              </div>
          </div> -->




      <!--  아래는 기능 DB연동 필요      -->
      <h3>회원가입 버튼</h3>
      <li class="pl_createaccount cp btn pl_pad" title="회원가입" *ngIf="!(is_login == 'true' || is_login == 'master')" [(ngModel)]="ca_button" role="button" aria-expanded="ca_button" tabindex="0" (keypress)="ca_menu()" (click)="ca_menu()" ngDefaultControl>회원가입</li>
          <div class="ca_menu" role="menu" aria-hidden="!ca_button" *ngIf="ca_button == true">
              <h4>회원가입 메뉴</h4>
              <legend>회원가입</legend>
              <div name="ca" class="ca">
                <!-- table 태그 안에는 caption, col, colgroup, thead, tbody, tfoot만 온다 -->
                <table class="ca_table" summary="아이디, 비밀번호, 닉네임, 이메일을 입력 및 검사하여 최종적으로 회원등록을 하는 테이블">
                <!-- +++++++++++++++++++++++++++++++++++++++++++++++ 아이디 입력 단 시작 +++++++++++++++++++++++++++++++++++++++++++++++ -->
                <tr>
                  <td>
                    <div class="ca_group">
                      <input id="ca_id" name="ca_id" #ca_id="ngModel" class="ca_id form-control" [ngClass]="{'ok': ca_id.valid && ca.id_check == 'true'}" title="아이디 입력" type="text" placeholder="아이디 입력" [(ngModel)]="ca.id" minlength="5" maxlength="15" pattern="^\w{5,15}$" (ngModelChange)="initInputCheck('id_check')" (keyup.enter)="inputCheck('id', 'id', 'id_check')" required> <!-- pattern의 경우 첫번째와 끝에 '/'를 붙이면 안됨 -->
                    </div>
                  </td>
                  <td>
                    <div name="ca_id_check" #ca_id_check="ngModel" class="ca_idCheck cp btn checkBtn" title="아이디 중복검사" role="button" label="아이디 중복검사 버튼" tabindex="0" [(ngModel)]="ca.id_check" (keypress)="inputCheck('id', 'id', 'id_check')" (click)="inputCheck('id', 'id', 'id_check')" ngDefaultControl >중복검사</div>
                  </td>
                  <td>
                    <div class="ca_info" [ngClass]="{'ok_font': ca_id.valid && ca.id_check == 'true'}">
                        <p>알파벳, 숫자 조합 5~15글자</p>
                    </div>
                  </td>
                </tr>
                <tr class="ca_error">
                    <td colspan="3" align="center">
                        <div *ngIf="ca_id.errors?.minlength" role="alert">아이디는 최소 5글자 이상 입력 해야 합니다.</div>
                        <div *ngIf="ca_id.errors?.pattern" role="alert">알파벳과 숫자만 입력가능합니다.</div>
                        <div *ngIf="ca_id.valid && ca.id_check == 'nocheck'" role="alert">id 중복 검사를 해주시길 바랍니다.</div>
                        <div *ngIf="ca_id.valid && ca.id_check == 'false'" role="alert">이미 등록 된 id 입니다.</div>
                    </td>
                </tr>
                <!-- =============================================== 아이디 입력 단 끝 =============================================== -->
                <!-- +++++++++++++++++++++++++++++++++++++++++++++++ 비밀번호 입력 단 시작 +++++++++++++++++++++++++++++++++++++++++++++++ -->
                <tr>
                  <td>
                    <div class="ca_group">
                      <input id="ca_pwd" name="ca_pwd" #ca_pwd="ngModel" class="form-control" title="비밀번호 입력" type="password" placeholder="비밀번호 입력" [(ngModel)]="ca.pwd" minlength="8" maxlength="16" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*\W).{8,16}$" required>
                    </div>
                  </td>
                  <td></td> <!-- 버튼없음 -->
                  <td>
                    <div class="ca_info" [ngClass]="{'ok_font': ca_pwd.valid}">
                        <p>알파벳, 숫자, 특수문자 조합 8~16글자</p>
                    </div>
                  </td>
                </tr>
                <tr class="ca_error">
                  <td colspan="3" align="center">
                    <div *ngIf="ca_pwd.errors?.minlength" role="alert">비밀번호는 최소 8글자 이상 입력 해야 합니다.</div>
                    <div *ngIf="ca_pwd.errors?.pattern && !ca_pwd.errors?.minlength" role="alert">특수문자, 알파벳, 숫자가 각각 하나 이상 포함되어야 합니다.</div>
                  </td>
                </tr>
                <!-- =============================================== 비밀번호 입력 단 끝 =============================================== -->
                <!-- +++++++++++++++++++++++++++++++++++++++++++++++ 비밀번호 확인 단 시작 +++++++++++++++++++++++++++++++++++++++++++++++ -->
                <tr>
                  <td>
                    <div class="ca_group">
                      <input id="ca_pwdCheck" name="ca_pwdCheck" #ca_pwdCheck="ngModel" class="form-control" [ngClass]="{'ok': ca_pwdCheck.value == ca_pwd.value && ca_pwd.valid}" title="비밀번호 확인" type="password" placeholder="비밀번호 확인" [(ngModel)]="ca.pwdCheck" minlength="8" maxlength="16" pattern="^(?=.*[a-zA-Z])(?=.*\d)(?=.*\W).{8,16}$" required>
                    </div>
                  </td>
                  <td></td> <!-- 버튼없음 -->
                  <td>
                    <div class="ca_info" [ngClass]="{'ok_font': ca_pwdCheck.value == ca_pwd.value && ca_pwd.valid}">
                        <p>비밀번호를 한번 더 입력해 주세요</p>
                    </div>
                  </td>
                </tr>
                <tr class="ca_error">
                  <td colspan="3" align="center">
                    <div *ngIf="ca_pwdCheck.value != ca_pwd.value" role="alert">앞서 입력한 비밀번호와 일치하지 않습니다.</div>
                  </td>
                </tr>
                <!-- =============================================== 비밀번호 확인 단 끝 =============================================== -->
                <!-- +++++++++++++++++++++++++++++++++++++++++++++++ 닉네임 입력 단 시작 +++++++++++++++++++++++++++++++++++++++++++++++ -->
                <tr>
                  <td>
                    <div class="ca_group">
                      <input id="ca_nickname" name="ca_nickname" #ca_nickname="ngModel" class="form-control" [ngClass]="{'ok': ca_nickname.valid && ca.nickname_check == 'true'}" title="닉네임 입력" type="text" placeholder="닉네임 입력" [(ngModel)]="ca.nickname" minlength="2" maxlength="10" pattern="^[ㄱ-ㅎ|가-힣|a-z|A-Z|0-9|\*]+$" (ngModelChange)="initInputCheck('nickname_check')" (keyup.enter)="inputCheck('nickname', 'nickname', 'nickname_check')" required>
                    </div>
                  </td>
                  <td>
                    <div name="ca_nickname_check" #ca_nickname_check="ngModel" class="ca_nicknameCheck cp btn checkBtn" title="닉네임 중복검사" role="button" label="닉네임 중복검사 버튼" tabindex="0" [(ngModel)]="ca.nickname_check" (keypress)="inputCheck('nickname', 'nickname', 'nickname_check')" (click)="inputCheck('nickname', 'nickname', 'nickname_check')" ngDefaultControl>중복검사</div>
                  </td>
                  <td>
                    <div class="ca_info" [ngClass]="{'ok_font': ca_nickname.valid && ca.nickname_check == 'true'}">
                        <p>2~10글자의 닉네임을 입력해 주세요</p>
                    </div>
                  </td>
                </tr>
                <tr class="ca_error">
                  <td colspan="3" align="center">
                      <div *ngIf="ca_nickname.errors?.minlength" role="alert">닉네임은 최소 2글자 이상 입력 해야 합니다.</div>
                      <div *ngIf="ca_nickname.valid && ca.nickname_check == 'nocheck'" role="alert">닉네임 중복 검사를 해주시길 바랍니다.</div>
                      <div *ngIf="ca_nickname.valid && ca.nickname_check == 'false'" role="alert">이미 등록 된 닉네임 입니다.</div>
                  </td>
                </tr>
                <!-- =============================================== 닉네임 입력 단 끝 =============================================== -->
                <!-- +++++++++++++++++++++++++++++++++++++++++++++++ 이메일 입력 단 시작 +++++++++++++++++++++++++++++++++++++++++++++++ -->
                <!--  E-mail 인증 기능 추가 구현 필요 : 동일인으로 인한 다중 ID 과다생성 방지  -->
                <tr>
                  <td>
                    <div class="ca_group">
                      <input id="ca_email" name="ca_email" #ca_email="ngModel" class="form-control" [ngClass]="{'ok': ca_email.valid && ca.email_check == 'true'}" title="이메일 입력" type="text" placeholder="이메일 입력" [(ngModel)]="ca.email" minlength="8" maxlength="30" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" (ngModelChange)="initInputCheck('email_check')" (keyup.enter)="inputCheck('email', 'email', 'email_check')" required>
                    </div>
                  </td>
                  <td>
                    <div name="ca_email_check" #ca_email_check="ngModel" class="ca_emailCheck cp btn checkBtn" title="이메일 중복검사" role="button" label="이메일 중복검사 버튼" tabindex="0" [(ngModel)]="ca.email_check" (keypress)="inputCheck('email', 'email', 'email_check')" (click)="inputCheck('email', 'email', 'email_check')" ngDefaultControl>중복검사</div>
                  </td>
                  <td>
                    <div class="ca_info" ng-class="{'ok_font': ca_email.valid && ca.email_check == 'true'}">
                        <p>이메일 주소를 직접 입력해 주세요</p>
                    </div>
                  </td>
                </tr>
                <tr class="ca_error">
                  <td colspan="3" align="center">
                      <div *ngIf="ca_email.errors?.pattern" role="alert">이메일 주소가 정상적이지 않습니다.</div>
                      <div *ngIf="ca_email.valid && ca.email_check == 'nocheck'" role="alert">이메일 중복 검사를 해주시길 바랍니다.</div>
                      <div *ngIf="ca_email.valid && ca.email_check == 'false'" role="alert">이미 등록 된 이메일 주소입니다.</div>
                  </td>
                </tr>
                <!-- =============================================== 이메일 입력 단 끝 =============================================== -->
                <tr>
                  <td colspan="3" align="center">
                    <button type="submit" class="ca_submit btn cp" title="가입신청" (click)="createAccount()">Submit</button>
                  </td>
                </tr>


                <!-- <tr class="createaccount_list">
                    <td colspan="3" align="center">
                        <div class="ca_submit cp btn" title="가입신청" label="회원가입 신청 버튼" role="button" *ngIf="ca_form.valid && ca.id_check=='true' && ca.nickname_check=='true' && ca.email_check=='true'" aria-disabled="false" type="submit" tabindex="0" ng-keypress="vm.createaccount()" ng-click="vm.createaccount()">가입신청</div>
                    </td>
                </tr> -->
                </table>
              </div>
          </div>



      <h3>로그인 버튼</h3>
      <li class="pl_loginButton cp btn pl_pad" title="로그인" [(ngModel)]="lg_button" *ngIf="!(is_login == 'true' || is_login == 'master')" role="button" aria-expanded="lg_button" tabindex="0" (keypress)="lg_menu()" (click)="lg_menu()" ngDefaultControl>로그인</li>
          <div class="lg_menu" role="menu" aria-hidden="!lg_button" *ngIf="lg_button == true">
              <h4>로그인 메뉴</h4>
              <table class="lg_table" summary="ID, Password input and Submit button">
              <tr class="lg_list">
                  <td>
                      <div class="lg_input_id">
                          <input id="lg_input_id" #lg_input_id title="아이디" type="text" placeholder="아이디" (keyup.enter)="login(lg_input_id.value, lg_input_pwd.value)" aria-label="아이디" aria-describedby="5~20자의 영문 소문자, 숫자와 특수기호 (_), (-)만 사용하여 입력해 주세요. 편집창 아이디" aria-required="true">
                      </div>
                      <div class="lg_input_pwd">
                          <input id="lg_input_pwd" #lg_input_pwd title="패스워드" type="password" placeholder="패스워드" (keyup.enter)="login(lg_input_id.value, lg_input_pwd.value)" aria-label="패스워드" aria-describedby="6~16자 영문 대 소문자, 숫자, 특수문자를 사용하여 입력해 주세요. 편집창 패스워드" aria-required="true">
                      </div>
                  </td>
                  <td>
                      <div class="lg_submit cp btn" title="로그인" label="로그인 제출 버튼" role="button" aria-disabled="false" type="submit" tabindex="0" (keypress)="login(lg_input_id.value, lg_input_pwd.value)" (click)="login(lg_input_id.value, lg_input_pwd.value)"><div style="display:table-cell;vertical-align:middle;">로그인</div></div>
                  </td>
              </tr>
              </table>
          </div>
      <h3>로그아웃 버튼</h3>
      <li class="pl_logoutButton cp btn pl_pad" title="로그아웃" *ngIf="is_login == 'true' || is_login == 'master'" tabindex="0" (keypress)="logout()" (click)="logout()">로그아웃</li>
      </ul>
  </div>

</div>

<div class="main-body">
<h1>Our MongoDB is Working! Good</h1>
<button mat-raised-button color="primary"
            (click)="getContent_board()">getContent_board</button>
<button mat-raised-button color="primary"
            (click)="getNav_menuSub()">getNav_menuSub</button>
<button mat-raised-button color="primary"
            (click)="getNav_menuTop()">getNav_menuTop</button>
<ul>
  <li *ngFor="let menu of nav_menu">{{ menu.title }}</li>
</ul>
<div class="intro-"><a routerLink="/">intro</a></div>
<router-outlet name='intro'></router-outlet>
</div>

<script>

</script>
