*{
  box-sizing: border-box;
}
.study-page{
  border:5px solid black;
}
.study-page>*{
  border:5px solid red;
}
.study-header{height:6em;}
.study-header *{margin:0;}
.study-header>.sh_title{position:absolute;left:50%;}
.study-page>.study-body>*{
  border:5px solid green;
}
.study-page .study-body{
  padding-left:200px;
  padding-right:150px;
  overflow: hidden;
}
.study-page .study-body>*{
  float:left;
  padding-bottom:2500px;
  margin-bottom:-2500px;
}
.study-page .study-body .study-main{
  width:100%;
}
.study-page .study-body .study-nav{
  width:200px;
  margin-left: -100%;
  left:-200px;
  position: relative;
}
.study-page .study-body .study-ad{
  width:150px;
  margin-right:-150px;
}
.study-page footer{
  clear: both;
}

@media(max-width:40em){
  .study-page .study-body{
    padding-left:0;
    padding-right:0;
    overflow: visible;
  }
  .study-page .study-body>*{
    float:none;
    padding-bottom:0;
    margin-bottom:0;
  }
  .study-page .study-body .study-main{
    width:100%;
  }
  .study-page .study-body .study-nav{
    width:auto;
    margin-left: 0;
    left:0;
    position: relative;
  }
  .study-page .study-body .study-ad{
    width:auto;
    margin-right:0;
  }
}
